<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Recipe</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <form method="post" >
                    {% csrf_token %}
                    <h2>Register Page</h2>
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" name="first_name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="last_name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="username">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                      </div>
                      <br/>
                    <p>Already have account <a href="/login/">Login</a></p>  
                    <button type="submit" class="btn btn-primary form-control mx-3">Register</button>
                  </form>
            </div>
        </div>
    </div>

</body>
</html>